.title {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary)
}

.email {
    margin: 24px 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--font)
}


