.actionButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttonWrapper {
    display: flex;
    gap: 10px;
}

.cancelBtn {
    background: #fff;
    color: #000;
    height: 35px;
}

.cancelBtn:hover {
    background: rgba(255, 255, 255, 0.8);
}

.applyBtn {
    height: 35px;
}