.stepperContainer {
    margin: 35px auto 12px auto;
    min-width: 470px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0 24px;
}


@media (max-width: 768px) {
    .stepperContainer {
        min-width: auto;
    }

    .formContainer {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .stepperContainer {
        min-width: auto;
    }

    .formContainer {
        width: 95%;
        padding: 0;
    }
}
