.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0 20px 0;
    flex: 1;
    overflow: auto;
    flex-basis: 0;
    padding: 8px
}
.inlineRow {
    display: flex;
    gap: 15px;
}

.recipientphoneNumberField {
    display: grid;
    grid-template-columns: 115px 1fr;
    column-gap: 10px;
}
