.codeInputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.codeInputs input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.codeInputs input:focus {
    border: 2px solid var(--background);
}
