.tableHeader {
  font-weight: bold;
  font-size: 15px;
  color: var(--primary);
}

.tableContainer {
  background: var(--backgroundColor);
  border-radius: 0;
  box-shadow: none;
}

.table {
  width: 100%;
}

.table th {
  background-color: var(--backgroundColor);
  border-bottom: 2px solid #ddd;
}

.table td {
  border-bottom: 1px solid #ddd;
  color: var(--primary);
}

.table strong {
  color: var(--font);
  word-break: break-word;
}

.table tbody tr:last-child > td {
  border-bottom: none;
}

.cardCellContainer span {
  color: var(--gray);
}
.rowView {
  display: flex;
  align-items: center;
  gap: 8px;
}

.percentageStyle {
  font-size: 18px;
  margin-left: 4px;
  font-weight: bold;
  color: var(--gray);
}

.inputStyle {
  border: 1px solid var(--font);
  width: 50px;
  font-size: 14px;
  color: var(--font);
  height: 32px;
  border-radius: 8px;
  text-align: right;
  padding: 0 12px;
}
.inputStyle:hover,
.inputStyle:focus {
  border: 1px solid var(--background);
}

.transactionHashWrapper {
  display: flex;
  gap: 3px;
  align-items: center;
}

.txHashContainer {
  white-space: nowrap;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urlTextOverflow {
  color: var(--blue);
}

.txHashContainer a {
  color: var(--blue);
}

.transactionHashWrapper svg {
  width: 18px;
  height: 18px;
  color: var(--primary);
}
