.passwordStrengthContainer {
    width: 100%;
}

.passwordStrengthProgress {
    background-color: var(--whiteOutline);
    border-radius: 40px;
    width: 100%;
}

.passwordStengthStatus {
    color: var(--font);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 .75rem;
    min-width: fit-content;
}

.passwordStrengthList {
    background: var(--whiteOutline);
    border: none;
    border-radius: .375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-sizing: border-box;
    margin-top: .75rem;
    padding: .75rem 1rem;
    margin-bottom: 20px;
}

.passwordStrengthListItem {
    display: flex;
    align-items: center;
    padding: 0;
}

.passwordStrengthListItemIcon {
    margin-right: 8px;
    min-width: fit-content;
}

.passwordStrengthListItemIcon svg{
    height: 16px;
    width: 16px;
}

.passwordStrengthListItemText {
    margin: 0;
}

.passwordStrengthListItemText > .MuiTypography-root {
    color: var(--font);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
}
