.signUp {
  margin: 12px 0 24px;
  text-align: center;
}

.signUp .signupLink {
  /* color: rgb(107, 87, 142); */
  color: var(--background);
  font-weight: 500;
  font-size: 0.875rem;
  background: none;
  border: none;
  text-decoration: none;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  transition: all 200ms ease-in-out 0s;

  &>a {
    text-decoration: underline;
  }

  &:hover {
    color: var(--signHover);
  }
}

.forgotPasswordContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 20px 0;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer input {
  margin-right: 5px;
}

.checkboxContainer label {
  font-size: 14px;
}

.forgotPassword {
  text-decoration: underline;
  color: var(--nb-grey-800);
  font-weight: 500;
  font-size: 0.875rem;
  background: none;
  border: none;
  transition: all 200ms ease-in-out 0s;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}

.forgotPassword:hover {
  color: var(--hrefHover);
}
