.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  width: 100vw;
  max-width: 100%;
}

.homeBannerWrapper {
  display: flex;
  justify-content: center;
  background-color: #212730;
  width: 100%;
}

.getstartedheading{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top : 0px;
    font-family: 'Inter', sans-serif;
}

.homeBannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 260px;
  justify-content: center;
  max-width: 956px;
  .font-grey {
    width: 40%;
    text-align: center;
  }
}

.whiteText {
  color: #fff !important;
  text-align: center;
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.04em;
  font-family: 'Inter', sans-serif;
  text-underline-offset: 10px;
}

.primaryUnderline {
  color: #56a3eb !important;
  text-decoration: underline !important;
}

.fontGrey {
  color: #fafafab3 !important;
  /* opacity: 0.7; */
  text-align: center;
  /* width: 80%; */
  font-size: 18px;
  font-weight: 200;
  line-height: 160%;
  font-family: 'Inter', sans-serif;
}

.bannerBtnWrapper {
  display: flex;
  gap: 15px;
  width: 256px;
}

.getCard {
  width: 256px;
}

.containedButton {
  padding: 16px 24px !important;
  border-radius: 50px !important;
}

.trustedPlusImagesContainer {
  display: flex;
  justify-content: center;
}

.trustedPlusImagesContainer img {
  width: 120%;
  height: 120%;
}

.discoverWrapper {
  padding: 120px 7%;
  display: flex;
  justify-content: center;
  background-color: #f9fafc;
}

.discoverContainer {
  width: 100%;
}

.discoverLeftCard {
  padding: 0 80px 58px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earnUptoHeading {
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0.2em;
  max-width: 578px;
  color: #000 !important;
}

.earnUptoDetails {
  max-width: 70%;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.earnUptoMediaContainer {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.earnDataCardContainer {
  display: flex;
  gap: 15px;
  padding: 20px;
  color: #000;
}

.earnCardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 14px;
}

.earnCardImageContainer1 {
  background: #e2f2ff;
}

.earnCardImageContainer2 {
  background: #e3dbff;
}

.earnCardImageContainer3 {
  background: #c5ffd9;
}

.earnDataCardRight {
  text-align: left;
}

.earnDataCardHeading {
  font-size: 20px;
  font-weight: 700;
}

.earnDataCardDescription {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.bannerBtnWrapper {
  margin-top: 40px;
}

.containedButton {
  background: #56a3eb;
  border: 1px solid #56a3eb;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 12px 24px;
  cursor: pointer;
}

.secondaryUnderline {
  color: #56a3eb;
  text-decoration: underline;
  text-underline-offset: 10px;
}

@media screen and (max-width: 1200px) {
  .discoverLeftCard {
    padding: 8% 5%;
  }

  .earnUptoHeading {
    font-size: 48px;
  }

  .bannerBtnWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .homeBannerContainer {
    padding: 0 10%;
    margin-top: 140px;
  }

  .whiteText {
    font-size: 24px;
    line-height: 180%;
  }

  .fontGrey {
    margin-top: 20px;
    font-size: 12px;
  }

  .trustedPlusImagesContainer img {
    width: 0%;
    height: 0%;
  }

  .getCard {
    width: 128px;
    height: 40px;
  }

  .containedButton {
    padding: 12px 16px !important;
    border-radius: 50px !important;
    font-size: 12px !important;
  }

  .earnUptoDetails {
    font-size: 16px;
  }

  .trustedContainer {
    padding: 40px 20px 10px 20px !important;
    text-align: center;

    .heading {
      font-size: 24px;
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: row !important;
    gap: 20px !important;
    margin-top: 20px !important;
  }

  .trustedByLogo {
    width: 40px !important;
  }

  .discoverWrapper {
    padding: 20px 8%;
  }

  .earnUptoHeading {
    font-size: 24px;
    line-height: 180%;
  }

  .earnUptoDetails {
    font-size: 14px;
    max-width: 100%;
  }

  .discoverLeftCard {
    .containedButton {
      font-size: 12px !important;
    }
  }

  .bannerBtnWrapper {
    width: 150px;
  }

  .earnUptoMediaContainer {
    flex-direction: column;

    .earnUptoMediaContainerImg {
      width: 120% !important;
      height: auto;
    }
  }

  .earnDataCardContainer {
    display: flex;
    gap: 15px;
    color: #000;
  }

  .earnDataCardHeading {
    font-size: 16px;
    font-weight: 700;
  }

  .earnDataCardDescription {
    font-size: 12px;
    font-weight: 400;
    color: #666;
  }
  .getstartedheading{
    font-size: 24px;
    margin-bottom: 15px;
    margin-top : 0px;
    font-family: 'Inter', sans-serif;
  }
}

.trustedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
  color: #000;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 60px;
}

.trustedByLogo {
  mix-blend-mode: darken;
  width: 82px;
}

.heading {
  font-size: 30px;
  font-weight: 600;
}
