.addButton {
    width: 180px !important;
    height: 35px !important;
    font-size: 14px !important;
}

.addButton .addCardIconText {
    display: flex;
    align-items: center;
    gap: 5px;
}

.addCardIconText svg {
    height: 20px;
    width: 20px;
}

.search {
    margin-left: 16px;
}

@media (max-width: 900px) {
    .addButton {
        width: 100px;
        height: 30px;
        font-size: 12px;
        padding: 5px;
    }
}
