.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeICon {
    padding: 0;
}

.closeICon svg {
    color: var(--font);
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 400px; */
    background-color: var(--modalBackground);
    /*border: 2px solid #000;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    padding: 20px;
    border-radius: 8px;
    height: 95svh; /* Maximum height for scrolling */
    max-height: 95svh; /* Maximum height for scrolling */
    width: 600px;
    display: flex;
    flex-direction: column;
}

.phoneNumberField {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
}

.recipientphoneNumberField {
    display: grid;
    grid-template-columns: 115px 1fr;
    column-gap: 10px;
}

.inlineRow {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .modalBox {
        width: 95%;
        max-height: 95svh;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .modalBox {
        width: 75%;
        max-height: 95svh;
    }
}
