.rowView {
  display: flex;
  align-items: center;
}

.percentageStyle {
  font-size: 18px;
  margin-left: 4px;
  font-weight: bold;
  color: var(--gray);
}

.inputStyle {
  border: 1px solid var(--font);
  width: 50px;
  font-size: 14px;
  color: var(--font);
  height: 32px;
  border-radius: 8px;
  text-align: right;
  padding: 0 12px;
}
.inputStyle:hover,
.inputStyle:focus {
  border: 1px solid var(--background);
}
