.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  margin-top: 16px;
}
.rowView {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}
.itemLabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
}
.itemValue {
  font-size: 16px;
  font-weight: 600;
  color: var(--font);
}

.optionDiv {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 8px;
  padding: 0 20px;
}
.closeICon {
  padding: 0;
}

.closeICon svg {
  color: var(--font);
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 400px; */
  background-color: var(--modalBackground);
  /*border: 2px solid #000;*/
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0 24px 38px 3px,
    rgba(0, 0, 0, 0.12) 0 9px 46px 8px;
  padding: 20px;
  border-radius: 8px;
  max-height: 95svh; /* Maximum height for scrolling */
  min-height: 95svh;
  width: 650px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.affiliateUserFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 20px;
  flex: 1;
  flex-basis: 0;
  width: 100%;
  overflow-y: auto;
}

.row {
  display: flex;
  gap: 15px;
}

.row .textInput {
  flex: 1;
}

.spacer {
  height: 12px;
}
.spaceRowView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.title {
  font-size: 14px;
}

.typeFilter {
  height: 50px !important;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .modalBox {
    width: 95%;
    max-height: 95svh;
  }

  .row {
    flex-direction: column;
    gap: 5px;
  }

  .spacer {
    height: 5px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .modalBox {
    width: 75%;
    max-height: 95svh;
  }
}
