.contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 24px;
}

.mainTitle {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--background);
}

.description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 1rem;
    color: #e0e0e0;
    line-height: 1.6;
}
:global([data-theme='light']) .description {
    color: var(--font);
}

.sectionsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.section {
    padding: 0.5rem 0;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    color:var(--background);

}


.sectionNumber {
    color: var(--background);
}

.sectionContent {
    padding-left: 1.5rem;
}

.sectionItem {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.sectionItem::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--background);
    font-size: 1.2em;
}

.itemTitle {
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0.5rem;
}
:global([data-theme='light']) .itemTitle {
    color: var(--primary);
}

.itemDescription {
    color: #e0e0e0;
    line-height: 1.5;
}
:global([data-theme='light']) .itemDescription {
    color: var(--primary);
}

.footerText {
    text-align: center;
    max-width: 800px;
    margin: 2rem auto 0;
    color: #e0e0e0;
    line-height: 1.6;
}
:global([data-theme='light']) .footerText {
    color: var(--primary);
}



/* Responsive Styles */
@media (max-width: 768px) {
    .mainTitle {
        font-size: 2rem;
    }

    .contentWrapper {
        padding: 1rem;
    }

    .sectionTitle {
        font-size: 1.25rem;
    }

    .sectionContent {
        padding-left: 1rem;
    }
    .sectionsContainer {
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .sectionItem {
        margin-bottom: 0.75rem;
    }
}

@media (max-width: 480px) {
    .mainContainer {
        padding: 1rem 0.5rem;
    }

    .mainTitle {
        font-size: 1.75rem;
    }

    .description,
    .footerText {
        font-size: 0.95rem;
    }
}

