.earningsContainer {
  padding: 16px;
  background-color: var(--backgroundColor);
  color: var(--font);
}

.earningsTitle {
  font-weight: 600;
  color: var(--font);
  text-align: center;
  margin-bottom: 20px;
}

.noDataMessage {
  text-align: center;
  padding: 40px 0;
  color: red;
}

.totalFees {
  text-align: center;
  margin-top: 16px;
  font-weight: 500;
  color: var(--font);
}
