.mainContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.subContainer{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

.title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.companyName {
    font-size: 18px;
    margin-top: 24px;
    font-weight: 700;
}

.description {
    font-size: 16px;
    white-space: pre-line;
    line-height: 24px;
}
.link {
    font-size: 16px;
    white-space: pre;
    line-height: 24px;
    color: var(--font);
    text-decoration-line: underline !important;
    text-decoration-color: var(--background) !important;
}


.rowView{
    display: flex;
    gap: 16px;
    margin-top: 24px;
    align-items: center;
    align-self: flex-start;
}

.chat {
    display: inline;
    font-size: 16px;
    margin-top: 24px;
    word-break: break-all;
}


.rowView > svg {
    color: var(--background);
    height: 24px;
    width: 24px;
}
