.collapseButton {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 12px 28px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: padding 0.3s;
}

.collapseButton .MuiSvgIcon-root {
    transition: transform 0.3s;
}

.collapseButton svg {
    color: var(--primary);
    height: 20px;
    width: 20px;
}

.collapseText {
    margin-left: 8px;
    font-size: 14px;
    color: var(--nb-grey-800);
    font-weight: 500;
    white-space: nowrap;
}