.dateFilterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 10px;
    border: 1px solid var(--whiteOutline);
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.openedFilter {
    transition: 0.2s background;
    background: var(--secondBackground);
}

.activeFilter {
    border: 2px solid var(--background);
}

.dateFilterMenuContainer {
    padding: 6px 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.dateTypeContainer {
    display: flex;
    width: 100%;
}

.dateTypeItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--whiteOutline);
    cursor: pointer;
}

.dateTypeItem:first-child {
    border-radius: 6px 0 0 6px;
}

.dateTypeItem:last-child {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.dateTypeItem h3 {
    font-size: 14px;
    font-weight: normal;
}

.selectedType {
    background: var(--secondBackground);
}