.confirmModalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--modalBackground);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 32px;
    text-align: center;
}

.cancelBtn {
    height: 50px;
    background: #e6e2e1;
    color: #000;
    box-shadow: none;
}

.cancelBtn:hover {
    background: var(--gray);
}

.confirmBtn {
    height: 50px;
    box-shadow: none;
}