.sidePanel {
    width: 33.33%;
    height: 100svh;
    background-color: var(--background);
    color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
}


.quoteContainer {
    text-align: left;
    padding: 0 0 30px;
}

.quoteIcon {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(252.43deg, #ff5029, #fd3a8b);
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: -1.25rem;
    margin-top: 1.5rem;
}

.quote {
    font-size: 18px;
    font-style: italic;
    margin: 15px 0 25px 0;
}

.author {
    font-size: 18px;
    font-weight: bold;
}
.videoStyle {
    object-fit: fill;
    width: 100%;
    height: 240px;
    border-radius: 4px;
}

.designation {
    font-size: 14px;
    margin-top: 5px;
}

.customers {
    font-size: 14px;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .sidePanel {
        display: none;
    }
}
