.layout {
    display: flex;
    flex:1;
    height: 100%;
    min-height: 100svh;
}

.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: calc(100vw - 250px);
}

.fullWidth {
    width: 100%;
}

.contentArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: var(--secondBackground);
}

.layout a {
    text-decoration: none;
    color: inherit;
}

.header {
    align-items: center;
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    height: 64px !important;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    background-color: var(--secondBackground);
    transition: background-color 0.2s ease;

}

.header_background {
   background-color: var(--backgroundColor) !important;
   box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12);
   /* , 0 1px 2px rgba(0, 0, 0, 0.24); */

}

@media (max-width: 1200px) {
    .contentArea {
        padding: 0.75rem 1.25rem;
    }
}

@media (max-width: 975px) {
    .layout {
        flex-direction: column;
    }

    .contentArea {
        padding: 0.75rem 1.25rem;
    }

    .header {
        display: none;
    }
}

/* @media (max-width: 900px) {
    .layout {
        flex-direction: column;
    }

    .contentArea {
        padding: 0 1.25rem;
    }

    .header {
        display: none;
    }
} */
