.nameFields {
    display: flex;
    gap: 10px;
}

.nameFields .textInput {
    flex: 1;
}

.affiliateDiv {
    margin-bottom: 24px;
}

.mainRegisterForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .registerFormContainer {
        max-width: 100%;
        width: 100%;
        padding: 0 36px;
        margin: 2rem auto;
    }

    .nameFields {
        flex-direction: column;
        gap: 0;
    }
    .app{
        width: 100%;
    }
}
