.mainContainer{
    display: flex;
    flex: 1;
    width: 100%;
    padding: 16px 64px;
    overflow: hidden;
    max-width: 100%;
    flex-direction: column;
}
.videoCarouselView {
    height: 360px;
    width: 100%;
}
.thumbnailContainer {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    box-sizing: border-box;
    min-width: 180px;
    align-items: center;
}
.imageView {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}
.selectedImage {
    border: 3px solid var(--background);
}
.imageStyle {
    object-fit: fill;
    height: 100%;
    width: 100%;

}
.overView {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Optional color overlay */
    align-items: center;
    justify-content: center;
    /*outline: none;*/
    border: none;
}
.selectedOver {
    border: 1px solid var(--background);
}
.overView svg {
    color: white;
    height: 40px;
    width: 40px;
}
.videoContainer {
    height: 360px;
    width: 100%;
    border-radius: 4px;

}
.videoStyle {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.rowScrollableView {
    display: flex;
    height: 100px;
    overflow-x: auto ;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    background-color: red;
}

.rowScrollableView::-webkit-scrollbar {
    display: none;
}
.previewLabel {
    font-size: 14px;
    color: var(--primary);
    margin-top: 8px;
}


@media screen and (max-width: 768px) {
    .mainContainer {
        padding: 16px 0;
    }
    .videoCarouselView {
        height: 200px;
    }
    .videoContainer {
        height: 200px;
    }

}
