.filterWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px 0;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
}

.filterContainer {
  display: flex;
}

.typeFilter {
  width: 130px;
  height: 38px;
  margin-left: 16px;
  font-size: 14px;
}

.clearBtn {
  height: 30px;
  width: fit-content !important;
}
