.navigationHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 0 12px;
    background-color: var(--backgroundColor);
    position: sticky;
    top: 64px;
    z-index: 999;
    left: 0;
}
