.sidebarItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--font);
  fill: transparent;
}

.sidebarItem:hover {
  border-radius: 0.25rem;
  background-color: var(--secondBackground);
}

.sidebarItem.selected {
  background-color: var(--secondBackground);
  border-radius: 0.25rem;
  position: relative;
  border-left: 4px solid var(--background);
  padding-left: 12px;
}

.sidebarItemLabel {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
}
