.tabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding: 10px 16px 2px;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.page h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.container {
  background-color: var(--backgroundColor);
  border-radius: 6px;
  /* padding: 1rem; */
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 16px;
}

.filterContainer {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
  gap: 8px;
}

.filterButton {
  text-transform: none;
  border: 1px solid var(--whiteOutline);
  border-radius: 6px;
  color: var(--primary);
  padding: 3px 15px;
  font-size: 14px;
  margin-right: 16px;

  /* background-color: var(); */
}
.subRowView {
  display: flex;
  gap: 16px;
}
.activeFilter {
  transition: 0.2s background;
  background: var(--secondBackground);
}

.selectView {
  width: 120px !important;
}

.infoText {
  color: var(--gray);
  font-size: 14px;
  margin-top: 12px;
  font-weight: 500;
}
